MARQUINHOS_TOKEN=
MARQUINHOS_API_URL=http://localhost:3000
MARQUINHOS_API_KEY=
MARQUINHOS_CLIENT_ID=
MARQUINHOS_ERROR_DM_USER_ID=
MARQUINHOS_DECRYPTION_KEY=
MARQUINHOS_WEB_URL=http://localhost:5173
DEEZER_ARL_COOKIE=
GUILD_MAIN_CHANNEL_ID=
GUILD_EXTERNAL_ROLE_ID=
GUILD_NEWCOMERS_CHANNEL_ID=
MARQUINHOS_SPREADSHEET_ID=
MARQUINHOS_SPREADSHEET_API_KEY=
NODE_ENV=development
