HTTP_PORT=3000
NODE_ENV=development
SQLITE_PATH=./marquinhos.db
MARQUINHOS_API_KEY=
MARQUINHOS_CRYPTO_SALT=
MARQUINHOS_SECRET_KEY=
DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:5173/api/auth/callback
LASTFM_API_KEY=
LASTFM_SHARED_SECRET=
LASTFM_REDIRECT_URI=http://localhost:5173/api/lastfm/callback
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
OPENAI_API_KEY=
CORS_ORIGINS=http://localhost:5173
