name: Node.js CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: [self-hosted, Linux, X64, marquinhos]

    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build
  deploy:
    needs: build
    runs-on: [self-hosted, Linux, X64, marquinhos]
    steps:
      - name: Make deploy.sh executable
        run: chmod +x ./deploy.sh
      - name: Execute deploy.sh
        run: echo "${{ secrets.DVNS_CLUSTER_PASSWORD }}" | sudo -S ./deploy.sh "$(pwd)/dist"
